*{
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: #9b59b6;
    font-family: sans-serif;
}
table,td,th{
    letter-spacing: 1.2px;
    color: white;
    border:1px solid white;
    border-spacing: 0px;
    border-collapse: collapse;
}
.centre{
    margin-left: auto;
    margin-right: auto;
}